.primary {
  @apply bg-yellowish text-black text-sm font-bold rounded;
  @apply relative px-12 py-3 transition-all;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
}

.secondary {
  @apply bg-yellowish text-black text-sm font-bold rounded;
  @apply relative px-12 py-3 transition-all;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
}

.secondary:hover {
  background-color: #fbe000;
}

.outlineColored {
  @apply text-black text-sm font-bold;
  @apply mt-32 px-12 py-3 transition-all;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
  border: 2px solid transparent;
  border-image-source: linear-gradient(93.58deg, #FF4D2A 0%, #FFB72A 100%);
  border-image-slice: 2;
}

.outlineColored:hover {
  background: linear-gradient(93.58deg, #FF4D2A 0%, #FFB72A 100%);
  color:white;
}

.outlineColored:focus {
  background: linear-gradient(93.58deg, #FF4D2A 0%, #FFB72A 100%);
  color:white;
}

.outline {
  @apply text-white text-sm font-bold rounded md:mt-auto px-12 py-3 z-20 border-2 border-white transition-all;
  @apply hover:bg-white hover:text-black;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white focus:bg-white focus:text-black;
}