.container {
  @apply p-10 pt-28 pb-56 lg:px-32 relative flex flex-col sm:flex-row bg-white text-white;
  @apply space-y-12 sm:space-y-0 sm:space-x-12 md:space-x-32 xl:space-x-64;
  background: #F3541F;
}

.card {
  @apply space-y-4;
}

.cardTitle {
  @apply font-medium;
}

.cardList {
  @apply font-semibold text-sm space-y-2;
}