.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col bg-white space-y-6;
}

.heading {
  @apply font-bold text-xl;
}

.title {
  @apply font-bold text-lg mb-2;
}

.paragraphOne {
  @apply mb-6 font-semibold leading-relaxed;
}

.paragraphTwo {
  @apply font-semibold leading-relaxed;
}