.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col justify-center items-center;
}

.containerSecond {
  @apply flex lg:space-x-16 space-y-10 lg:space-y-0 flex-col lg:flex-row;
}

.left {
  @apply relative flex justify-center;
}

.image {
  @apply relative z-10 w-4/5 md:w-auto;
}

.shape {
  @apply absolute -left-28 -top-28 z-0;
}

.right {
  @apply flex-1 relative;
}

.title {
  @apply font-extrabold text-lg text-yellow-500 uppercase text-center mb-6 lg:absolute lg:-top-10 lg:left-0;
}

.heading {
  @apply text-black text-center lg:text-left text-3xl md:text-5xl font-extrabold;
}

.paragraph {
  @apply font-semibold text-gray-700 text-center lg:text-left leading-relaxed;
}