.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col items-start bg-white space-y-4;
  background: linear-gradient(114.22deg, #ED8734 21.01%, #ED6538 98.26%);
}

.heading {
  @apply text-white text-5xl font-extrabold leading-normal relative z-20;
}

.caption {
  @apply text-white font-semibold;
}

.input {
  @apply px-5 py-3 bg-white w-full md:w-96 text-sm font-semibold;
}