.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col;
}

.heading {
  @apply text-black text-5xl font-extrabold leading-snug relative z-20;
}

.caption {
  @apply font-semibold text-gray-700 leading-loose mt-4;
}

.image {
  @apply absolute right-0 w-1/3 xl:w-auto hidden lg:block;
}