.container {
  @apply w-full h-screen relative py-20 flex flex-col items-center justify-center;
  background: radial-gradient(56.25% 56.25% at 50% 50%, #FB8B01 0%, #F3541F 100%);
}

.heading {
  @apply text-center text-white text-5xl font-extrabold leading-snug z-10;
}

.caption {
  @apply text-center text-white font-semibold mt-10 leading-loose z-10;
}