.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col items-center bg-white space-y-6;
}

.heading {
  @apply font-extrabold text-xl text-black uppercase;
}

.caption {
  @apply font-semibold text-gray-700 text-center leading-loose;
}