.container {
  @apply w-full p-10 py-20 lg:px-32 relative flex flex-col justify-center items-center space-y-20;
  background: linear-gradient(114.22deg, #ED8734 21.01%, #ED6538 98.26%);
}

.heading {
  @apply font-extrabold text-xl text-white uppercase;
}

.containerSecond {
  @apply flex flex-col space-y-20 text-white;
}

.row {
  @apply flex flex-col md:flex-row space-y-20 md:space-y-0 md:space-x-20;
}

.card {
  @apply w-full md:w-1/3 flex flex-col items-center;
}

.cardIcon {
  @apply bg-yellow-600 bg-opacity-70 p-4 rounded-xl mb-4;
}

.cardTitle {
  @apply font-bold text-lg text-center mb-4;
}

.cardCaption {
  @apply text-sm font-semibold text-center leading-loose mb-4;
}