.container {
  @apply w-full p-10 py-28 lg:px-32 relative flex flex-col justify-center items-center;
}

.heading {
  @apply font-extrabold text-xl uppercase mb-6;
}

.containerSecond {
  @apply border-2 p-20 space-y-20 relative;
}

.row {
  @apply flex flex-col md:flex-row space-y-20 md:space-y-0 md:space-x-20;
}

.col {
  @apply w-full md:w-1/2 space-y-2 relative;
}

.icon {
  @apply p-2 bg-yellowish rounded-full absolute -left-10 -top-8;
}

.title {
  @apply font-bold text-lg;
}

.caption {
  @apply text-sm font-semibold text-gray-700 leading-relaxed;
}