.container {
  @apply p-10 py-28 lg:px-32 relative flex justify-center lg:space-x-6 items-center flex-col lg:flex-row;
  background: radial-gradient(56.25% 56.25% at 50% 50%, #FB8B01 0%, #F3541F 100%);
}

.left {
  @apply flex flex-col items-start flex-1 relative lg:py-12;
}

.heading {
  @apply text-white text-5xl font-extrabold leading-normal relative z-20;
}

.right {
  @apply flex-1 text-white font-semibold z-10;
}

.caption {
  @apply text-center lg:text-left leading-relaxed;
}

.image {
  @apply absolute right-0 top-5 lg:top-0 w-40 lg:w-auto;
}

.shape {
  @apply absolute z-0 right-20 bottom-5
}