.container {
  @apply p-10 py-28 lg:px-32 relative flex flex-col justify-center items-center space-y-14;
}

.heading {
  @apply text-black text-center lg:text-left text-3xl md:text-5xl font-extrabold;
}

.card {
  @apply flex flex-col items-center md:flex-row space-y-4 md:space-y-0;
}

.head {
  @apply w-full md:w-2/5 space-y-2 font-bold text-lg flex space-x-4 items-center justify-center md:justify-start;
}

.paragraph {
  @apply w-full space-y-2 text-sm font-semibold text-gray-700 leading-relaxed text-center md:text-left;
}